<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs'); -%>

    <body>
        <%- include('partials/header.ejs'); -%>

            <h1>Get Generator</h1>
            <h3>It is one of the most Basic Projects on APIs to start with. Call the API, get a cute random Cat Image/Gif, display it beautifully and you are done!</h3>

            <body style="background-color: hsl(168, 90%, 16%);"></body>
            <div class="cat">
                <button class="1" id="generateCatBtn">Generate Cat</button>
                <img id="catImage" alt="Random Cat Image">
                <button class="2">Home Page</button>
                <img src="https://cdn2.thecatapi.com/images/cse.gif">
            </div>






            <div class="text-center">
                <img src="..." class="rounded" alt="...">
            </div>


            </div>


            </div>
            <%- include('partials/footer.ejs'); -%>

    </body>


</html>