<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs'); -%>

    <body>
        <%- include('partials/header.ejs'); -%>
            <div>thisnis div</div>S
            <main>this is main</main>
            <%- include('partials/footer.ejs'); -%>
    </body>

</html>