<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs'); -%>


    <body>
        <%- include('partials/header.ejs'); -%>

            <h1>3. Daily Tips:</h1>
            <h3>Had Fun with Random Image Gallery? Here is something more exciting. Yes, Use an API to fetch some Quotes and display them on daily basis as the Quote of the Day. There are APIs that give daily quotes as responses and other Apis that give you
                any random Quote each time you fetch it via a request. Quick Question: How will you make a constant Quote visible for at least one day no matter any time you reload your App? (Ask in comments if you can’t get it).</h3>
            <h3>Here is how it looks like:</h3>
            <img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*2AGJH79vX8UrcA-7cm97IQ.png">
            <p>APIS URL:https://zenquotes.io/api/today , https://api.adviceslip.com/advice</p>

            <%- include('partials/footer.ejs'); -%>

    </body>

</html>