<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs'); -%>


    <body>
        <%- include('partials/header.ejs'); -%>

            <h1 class="second">2. Random Images Feed :</h1>
            <h3>We can successfully generate Images from API, Now let’s go one step forward. We will create a feed of random beautiful Images such as when the user scrolls down, He gets multiple different Images continuously. Sound Great? Looks great as well!</h3>
            <div>
                <img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*qCbUa37mV13s59-TKrZ1CA.png">
                <p>API URl:</p>
            </div>
            <%- include('partials/footer.ejs'); -%>

    </body>

</html>